{% extends 'base.html' %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
    <div class="container" style="align-items: center; display: flex; flex-direction: column; justify-content: center; height: 30vh;">
        <h1>All Properties</h1>
        <p>Discover our selection of exceptional properties, each thoughtfully prepared to provide comfort and style.
            Whether you're seeking a city retreat or a countryside escape, find the perfect place to make your stay
            unforgettable.</p>
    </div>
    <h4>Recently Added</h4>
    <div class="card mb-4 shadow-sm" style="border-radius: 10px; overflow: hidden;"
         onclick="window.location.href='{% url 'property' %}';">
        <div class="row no-gutters">
            <!-- Image Section -->
            <div class="col-md-4">
                <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI2NTE1MDk1MTE4Mjc3MTQ5MA%3D%3D/original/5fb037bc-65cc-4d81-b9fd-04bcb20d6236.jpeg?im_w=480&im_format=avif"
                     class="img-fluid" alt="Luxury Apartment">
            </div>
            <!-- Content Section -->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title mb-2">[Borgo Po] Luxury Apartment</h5>
                    <p class="card-text text-muted">
                        Welcome to Monograph, a personal design blog dedicated to exploring the fascinating world of
                        design.
                        Started as a passion project. Now something with a bit more meaning.
                    </p>
                    <!-- Metadata Section -->
                    <div class="d-flex align-items-center mt-3">
                        <!-- Location -->
                        <span class="badge bg-light text-dark d-flex align-items-center mr-2"
                              style="border: 1px solid #ddd;">
                        <i class="bi bi-house mr-1"></i> Torino
                    </span>
                        <!-- Guests -->
                        <span class="badge bg-light text-dark d-flex align-items-center mr-2"
                              style="border: 1px solid #ddd;">
                        <i class="bi bi-people-fill mr-1"></i> 6
                    </span>
                        <!-- Date -->
                        <span class="badge bg-light text-dark d-flex align-items-center"
                              style="border: 1px solid #ddd;">
                        <i class="bi bi-calendar-event mr-1"></i> Nov 19, 2024
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
