{% extends 'base.html' %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
    <h2>About the accomodation</h2>
    <p>Located in one of Turin's newest areas, this design studio apartment is functionally furnished for travellers from
    all over the world. Strategically located, the flat is few minutes walk from the Politecnico di Torino, OGR and
    Porta Susa Railway Station. It is also possible to reach the city centre with a relaxing walk (30 min).</p>

    <h2>Amenities</h2>
    <p>Located on the second floor of a modern apartment building, this designer studio apartment is easily accessible
    thanks to the elevator and the absence of architectural barriers.</p>


    <h2>Notes</h2>
    <p>Guests will have access to the entire facility, except for some staff-only access lockers.</p>


    <h2>Location</h2>


{% endblock %}

