<p style="text-align: center;font-weight: normal; font-size: 14px; margin-top: 0.5rem;">In case the host is unavailable
    to meet you in person, follow this procedure for the self check-in.
</p>
<!-- Step 1 -->
<div style="text-align: center; border: 1px solid #9e9e9e; border-radius: 23px; margin-bottom: 1rem; padding: 1rem; background-color: #fff; box-shadow: aliceblue">
    <h1 style="font-size: 24px; font-weight: bold; margin: 0;">Step 1: Find the Dial</h1>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">Outside the building you will find this
        dial:</p>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">*The codes has been sent by private message<br>
    </p>
    <img src="https://login.smoobu.com/upload/images/summernote/5/3/9/d/9/c/3/d/summernote_image_46106_676d1706a64de.png"
         alt="Network Icon" style="max-height: 700; width: auto;max-width: 100%; object-fit: contain;">
</div>
<!-- Step 2 -->
<div style="text-align: center; border: 1px solid #9e9e9e; border-radius: 23px; margin-bottom: 1rem; padding: 1rem; background-color: #fff; box-shadow: aliceblue">
    <h1 style="font-size: 24px; font-weight: bold; margin: 0;">Step 2: Get to the stairs</h1>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">As you enter turn <span
            style="font-weight: bold;font-size: 18px">RIGHT</span></p>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">You will find <span
            style="font-weight: bold;font-size: 18px">SCALA A</span></p>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">Go to the <span
            style="font-weight: bold;font-size: 18px">1st FLOOR</span></p>
    <img src="https://login.smoobu.com/upload/images/summernote/2/4/8/9/9/c/e/7/summernote_image_46106_675f66f41dc72.png"
         alt="Network Icon" style="max-height: 700; width: auto;max-width: 100%; object-fit: contain;">
</div>
<!-- Step 3 -->
<div style="text-align: center; border: 1px solid #9e9e9e; border-radius: 23px; margin-bottom: 1rem; padding: 1rem; background-color: #fff; box-shadow: aliceblue">
    <h1 style="font-size: 24px; font-weight: bold; margin: 0;">Step 3: Reach the apartment</h1>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">The apartment is the one indicated <span
            style="font-weight: bold;font-size: 18px">in the picture</span></p>
    <img src="https://login.smoobu.com/upload/images/summernote/5/3/a/6/3/d/9/8/summernote_image_46106_675f66f8e0a2b.png"
         alt="Network Icon" style="max-height: 700; width: auto;max-width: 100%; object-fit: contain;">
</div>
<!-- Step 4 -->
<div style="text-align: center; border: 1px solid #9e9e9e; border-radius: 23px; margin-bottom: 1rem; padding: 1rem; background-color: #fff; box-shadow: aliceblue">
    <h1 style="font-size: 24px; font-weight: bold; margin: 0;">Step 4: Get the keys</h1>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">The keys are inside the locker shown <span
            style="font-weight: bold;font-size: 18px">in the picture</span></p>
    <p style="font-weight: normal; font-size: 14px; margin-top: 0.5rem;">*The codes has been sent by private message</p>
    <img src="https://login.smoobu.com/upload/images/summernote/0/8/8/1/4/3/6/b/summernote_image_46106_676d1731356eb.png"
         alt="Network Icon" style="max-height: 700;  width: auto; max-width: 100%; object-fit: cover;">
</div>
