<div style="border: 1px solid #9e9e9e; border-radius: 1rem; margin-bottom: 1rem; padding: 1rem; background-color: #fff;">
    <div style="text-align: center; width: 100%;">
        <p style="margin: 0; font-weight: bold; font-size: 18px; text-align: center;"><b>RADIOTAXI PIOMBINO</b></p>
        <p style="margin: 0;">Numero di Telefono: +3905651825</p>
        <p style="margin: 0;">Indirizzo: Piazza Antonio Gramsci, 12</p>
        <p style="margin: 0;">Orario: Da lunedì a domenica dalle 00:00 alle 24:00</p>
    </div>
</div>
