<div style="border: 1px solid #9e9e9e; border-radius: 23px; margin-bottom: 1rem; padding: 1rem; background-color: #fff; box-shadow: aliceblue">
    <div style="text-align: center; width: 100%;">
        <p style="margin: 0;"><img src="https://login.smoobu.com/img/guest-app/content-icons/icon-58.svg"
                                   alt="/img/guest-app/content-icons/icon-58.svg"></p>
        <p style="margin: 0; font-weight: normal; font-size: 14px">Network name: <span
                style="font-weight: bold;font-size: 18px">Boggio_GUEST</span></p>
        <p style="margin: 0; font-weight: normal;font-size: 14px">Password: <span
                style="font-weight: bold;font-size: 18px">BoggioF1Guest24</span></p>
    </div>
</div>
