{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }} <!-- Keeps the existing items -->
    <li>
        <a
                href="{{ original.smoobu_edit_link }}"
                class="historylink"
                target="_blank">
            Modifica in Smoobu
        </a>
    </li>
    <li>
        <a
        href="{% url 'generate_pdf_report_scheda' original.id %}"
                class="historylink"
                target="_blank">
            Genera Report PDF
        </a>
    </li>

{% endblock %}
