<div class="container availability">
    <form>
        <div class="form-row align-middle">
            <div class="col">
                <input type="date" class="form-control" id="arrivalDate" placeholder="" value="" required>
            </div>
            <div class="col">
                <input type="date" class="form-control" id="departureDate" placeholder="" value="" required>
            </div>
            <div class="col">
                <input type="number" class="form-control" id="people" placeholder="N. People" value="" required>
            </div>
            <button type="submit" class="btn btn-primary">Check Availability</button>
        </div>
    </form>
</div>